@import "../../../styles.scss";

.contact-container {
  @include dFlex($fd: column);
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background-color: black;
  clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
  min-height: 65vh;
  padding: 0 4rem;
  color: $main-bg-color;

  @media (max-width: 768px) {
    clip-path: polygon(0% 5%, 100% 15%, 100% 100%, 0% 100%);
  }

  @media (max-width: 480px) {
    clip-path: polygon(0% 10%, 100% 15%, 100% 100%, 0% 100%);
  }
}

.contact-header {
  @include dFlex($fd: column);
  padding: 2%;
  width: 100%;

  > h2 {
    align-self: flex-start;
    font-weight: 800;
    margin-top: 8rem;
    margin-bottom: 3.5rem;

    &:hover {
      color: $primary-hl-color;
    }
  }

  .subheadline {
    font-size: 1.5rem;
    font-weight: bold;
    color: $primary-hl-color;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .subheadline,
  .description {
    width: 100%;
    min-width: 250px;
    text-align: center;
  }
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  min-width: 250px;
  box-sizing: border-box;
  margin: 8px 0 4px;
  padding: 16px 25px;
  color: $main-bg-color;
  border: 4px solid transparent;
  border-bottom: 2px solid $main-bg-color;
  background-color: #000;
}

textarea {
  resize: none;
  height: 10rem;
}

.form-field {
  position: relative;
  @include dFlex($fd: column);
}

.form-field span {
  position: absolute;
  left: 20px;
  top: 20px;
  transform: translateY(-50%);
  font-family: "Overpass";
  color: $main-bg-color;
  text-transform: uppercase;
  transition: 0.3s;
  font-size: 12px;
  pointer-events: none;
}

.form-field :is(input, textarea):is(:focus, :not(:placeholder-shown)) ~ span {
  top: 6px;
  left: 22px;
  color: $main-bg-color;
  background-color: black;
  padding: 0 5px;
}

.form-error {
  color: #dc3545;
  font-size: 12px;
  margin: 4px;
}

.form-wrapper {
  @include dFlex($fd: column);
  width: 50%;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

button[type="submit"] {
  background-color: transparent;
  color: $main-bg-color;
  padding: 16px 48px;
  border: solid 4px transparent;
  border-color: $main-bg-color;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  margin-bottom: 2rem;
}

button[type="submit"]:disabled {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.275);
  color: rgba(255, 255, 255, 0.275);
  cursor: not-allowed;
}

.privacy-checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;

  a {
    color: $primary-hl-color;
    margin: 0 4px;
  }
}

.privacy-checkbox input[type="checkbox"] {
  margin-right: 12px;
}

.success-toast {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  z-index: 10;
  bottom: 2rem;
  width: fit-content;
  padding: 20px 32px;
  background-color: #00bc8f;
  color: white;
  border-radius: 1rem;
  font-weight: 400;
  animation: fadeInOut 3s ease-in-out;
  font-size: clamp(14px, 3vw, 20px);
  white-space: nowrap;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
