<div class="contact-container" id="contact-section">
  <div class="contact-header">
    <h2>Say Hi!</h2>
    <p class="subheadline">{{ "contact.headline" | translate }}</p>
    <p class="description">
      {{ "contact.description" | translate }}
    </p>
  </div>

  <div class="form-wrapper">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <div class="form-field">
        <input
          #name="ngModel"
          minlength="2"
          [(ngModel)]="contactData.name"
          type="text"
          id="name"
          name="name"
          placeholder=""
          required
        />
        <span>{{ "contact.contact-form.name" | translate }}</span>
      </div>

      @if (!name.valid && name.touched && !name.disabled) {
      <p class="form-error">
        {{ "contact.contact-form.error-name" | translate }}
      </p>
      }

      <div class="form-field">
        <input
          #email="ngModel"
          [(ngModel)]="contactData.email"
          type="email"
          id="email"
          name="email"
          required
          placeholder=""
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        />
        <span>{{ "contact.contact-form.email" | translate }}</span>
      </div>

      @if (!email.valid && email.touched && !email.disabled) {
      <p class="form-error">
        {{ "contact.contact-form.error-email" | translate }}
      </p>
      }

      <div class="form-field">
        <textarea
          #message="ngModel"
          minlength="4"
          maxlength="1000"
          [(ngModel)]="contactData.message"
          id="message"
          name="message"
          placeholder=""
          required
        ></textarea>
        <span>{{ "contact.contact-form.message" | translate }}</span>

        @if (!message.valid && message.touched && !message.disabled) {
        <p class="form-error">
          {{ "contact.contact-form.error-message" | translate }}
        </p>
        }
      </div>

      <div class="privacy-checkbox">
        <input
          type="checkbox"
          id="privacy"
          [(ngModel)]="contactData.privacy"
          name="privacy"
          required
        />
        <label for="privacy">
          {{ "contact.contact-form.policy1" | translate
          }}<a routerLink="/legalnotice">{{
            "contact.contact-form.policy2" | translate
          }}</a
          >{{ "contact.contact-form.policy3" | translate }}
        </label>
      </div>

      @if (showSuccessMessage) {
      <div class="success-toast">
        <!-- <span class="icon">✔</span> -->
        <span>{{ "contact.contact-form.succes-message" | translate }}</span>
      </div>
      }

      <div class="form-actions">
        <button
          type="submit"
          [disabled]="!contactForm.valid || !contactData.privacy"
        >
          {{ "contact.contact-form.send-button" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
