<section class="contact" id="contact-section">
  <h2>Say Hi!</h2>
  <p class="subheadline">Want to discuss a new project?</p>
  <p class="description">
    Say hello! Let's discuss your ideas and make it happen.
  </p>

  <div class="contact-container">
    <div class="container">
      <!-- <form (ngSubmit)="onSubmit()"> -->
      <form>
        <label for="name"></label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Your name"
          required
        />

        <label for="email"></label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Your email"
          required
        />

        <label for="message"></label>
        <textarea
          id="message"
          name="message"
          placeholder="Your message"
          required
        ></textarea>

        <div class="privacy">
          <input type="checkbox" id="privacy" name="privacy" required />
          <label for="privacy">
            I've read the <a href="#">privacy policy</a> and agree to the
            processing of my data.
          </label>
        </div>

        <button type="submit" class="send-button" disabled>Send message</button>
      </form>
    </div>
  </div>
</section>
