@import "./../../../styles.scss";

.legalnotice {
    @include dFlex($fd: column);
    text-align: center;
    padding: 2rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
    margin-top: 4rem;
    font-family: Overpass;
}
