@import "./../../../styles.scss";

header {
  @include dFlex($jc: space-between);
  max-width: 1440px;
  margin: 0 auto;
  position: sticky;
  height: 72px;
  padding: 0 4rem;
  z-index: 100;
  top: 0;
  background-color: $main-bg-color;
}

.logo {
  > img {
    height: 60px;
    width: 60px;
  }
}

.hamburger {
  width: 50px;
  height: 50px;

  background-image: url("../../../assets/animation/hamburger1.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.toggleOpen {
  animation: hamburgerOpen 0.3s forwards;
}

.toggleClose {
  animation: hamburgerClose 0.3s forwards;
}

@keyframes hamburgerOpen {
  0% {
    background-image: url("../../../assets/animation/hamburger1.png");
  }

  25% {
    background-image: url("../../../assets/animation/hamburger2.png");
  }

  50% {
    background-image: url("../../../assets/animation/hamburger3.png");
  }

  75% {
    background-image: url("../../../assets/animation/hamburger4.png");
  }

  100% {
    background-image: url("../../../assets/animation/hamburger5.png");
  }
}

@keyframes hamburgerClose {
  0% {
    background-image: url("../../../assets/animation/hamburger5.png");
  }

  25% {
    background-image: url("../../../assets/animation/hamburger4.png");
  }

  50% {
    background-image: url("../../../assets/animation/hamburger3.png");
  }

  75% {
    background-image: url("../../../assets/animation/hamburger2.png");
  }

  100% {
    background-image: url("../../../assets/animation/hamburger1.png");
  }
}
