<header>
  <div class="logo-content">
    <div class="logo" (click)="onLogoClick()">
      <img src="./../../../assets/icon/nb-logo-new.png" alt="logo-header" />
    </div>
  </div>

  <div class="right-section">
    <div class="language-toggle">
      <button
  class="lang-btn"
  [class.active]="translate.currentLang === 'en'"
  (click)="changeLanguage('en')"
>
  EN
</button>

<button
  class="lang-btn"
  [class.active]="translate.currentLang === 'de'"
  (click)="changeLanguage('de')"
>
  DE
</button>

    </div>

    <nav>
      <div
        class="hamburger"
        (click)="toggleMenu()"
        [ngClass]="{ toggleOpen: !isToggle, toggleClose: isToggle }"
      ></div>

      <div class="overlay" [ngClass]="{ show: !isToggle }">
        <div class="overlay-content">
          <div class="component-links">
            <a
              href="#about-me-section"
              (click)="scrollToSection($event, 'about-me-section')"
              >{{
                "header-component-links.aboutme" | translate
              }}</a
            >
          </div>
          <div class="component-links">
            <a
              href="#my-skills-section"
              (click)="scrollToSection($event, 'my-skills-section')"
              >{{
                "header-component-links.mySkills" | translate
              }}</a
            >
          </div>
          <div class="component-links">
            <a
              href="#portfolio-section"
              (click)="scrollToSection($event, 'portfolio-section')"
              >{{
                "header-component-links.portfolio" | translate
              }}</a
            >
          </div>
          <div class="overlay-footer">
            <div class="overlay-title">
              <h2 (click)="scrollToSection($event, 'contact-section')">
                Say Hi!
              </h2>
              <a href="mailto:mail@normann-blum.de"
                >kontakt&#64;normann-blum.de</a
              >
            </div>
            <div class="overlay-links">
              <a href="https://github.com/NormannBlum" target="_blank"
                ><img src="assets/icon/github.svg" alt="Github"
              /></a>
              <a href="mailto:kontakt@normann-blum.de" target="_blank"
                ><img src="assets/icon/mail.svg" alt="Email"
              /></a>
              <a href="https://www.linkedin.com" target="_blank"
                ><img src="assets/icon/linkedin.svg" alt="Linkedin"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
