@import "./../../../styles.scss";

header {
  @include dFlex($jc: space-between);
  position: sticky;
  height: 72px;
  padding: 32px;
  z-index: 100;
  top: 0;
  background-color: $main-bg-color;

  // width: 100%;
  // max-width: 1440px;
}

.logo {
  > img {
    height: 60px;
    width: 60px;
  }
}
