$main-bg-color: #fffcf3;
$primary-hl-color: #00bc8f;

$paragraph-font-size: 1.375rem; 
$h2-font-size: 4.875rem; 
$h2-font-size-small: 2rem; 

$bp-desktop: 1024px;
$bp-tablet: 768px;
$bp-mobile-lg: 576px;
$bp-mobile-sm: 480px;
