@import "./../../../styles.scss";

.hero {
  position: relative;
  @include dFlex($jc: space-between, $fd: column);
  height: calc(100vh - 72px);
  padding: 0 4rem;
  max-width: 1440px;
  margin: 0 auto;
}

.atf {
  position: relative;
  @include dFlex($fd: column);
  flex-grow: 1;
}

h1 {
  font-weight: 800;
  font-size: clamp(2rem, 10vw, 8rem);
  text-align: center;
  line-height: 1;
}

.subheadline-container {
  @include dFlex();
  position: relative;
  text-align: center;
  gap: 2rem;
  bottom: -0.5rem;

  > p {
    font-weight: 700;
    font-size: clamp(1.375rem, 4vw, 3rem);

    text-align: center;
    color: $primary-hl-color;
  }
}

.underline-stroked {
  background-color: black;
  width: clamp(8rem, 40vw, 42rem);
  height: 3px;
}

.cta {
  @include dFlex($jc: space-between, $ai: flex-end);
  position: relative;
  margin-top: 1rem;
  width: 100%;
  height: 50%;
}

.email-link {
  position: absolute;
  left: -6.5rem;
  transform: rotate(-90deg);
  font-size: $paragraph-font-size;
  bottom: 10rem;
}

.scroll-down-container {
  @include dFlex($fd: column);
  position: absolute;
  right: -2rem;
  bottom: 6rem;
  overflow: hidden;
}

.scroll-down-animation {
  animation: arrow-down-slide 2s linear infinite;
}

.scroll-down-text {
  position: absolute;
  right: 0rem;
  bottom: 2rem;
  margin: 0;
  font-size: $paragraph-font-size;
}

@keyframes arrow-down-slide {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(200px);
  }
}

@media (max-width: 1024px) {
  .email-link {
    left: -8.5rem;
  }
  .scroll-down-text {
    right: -2rem;
  }
  .scroll-down-container {
    right: -4rem;
  }
}

@media (max-width: 768px) {
  .email-link {
    left: -10.5rem;
  }
  .scroll-down-text {
    right: -3rem;
  }
  .scroll-down-container {
    right: -5rem;
  }
}

// @media (max-width: 480px) {
// }
