@import "./../../../styles.scss";

.skills {
  @include dFlex();
  position: relative;
  padding: 2rem;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50vh;
}

.skills-wrapper {
  position: relative;
  border: 4px solid #000;
  padding: 2rem;
  // width: 90%;
  // max-width: 1200px;

  > h2 {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    background: $main-bg-color;
    padding: 0 1rem;
    font-size: clamp($h2-font-size-small, 5vw, $h2-font-size);
  }
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

.skill-item {
  @include dFlex($fd: column);
  text-align: center;
  width: 100px;
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  > img {
    width: clamp(50px, 5vw, 70px);
    height: clamp(50px, 5vw, 70px);
    margin-bottom: 0.5rem;
    transition: transform 0.3s linear;
  }

  > span {
    font-size: 1rem;
    font-weight: bold;
    color: black;
  }

  &:hover {
    > img {
      animation: orbitBounceAnimation 0.3s forwards linear;
    }

    > span {
      color: $primary-hl-color;
    }
  }
}

.skills-footer {
  @include dFlex();
  text-align: center;
  gap: 1rem;
  // margin-top: 2rem;

  > img {
    width: clamp(50px, 5vw, 70px);
    height: clamp(50px, 5vw, 70px);
    gap: 2rem;
    // margin-bottom: 1rem;

    &:hover {
      animation: orbitBounceAnimation 0.3s forwards linear;
    }
  }

  > p {
    font-size: 1rem;
    font-weight: bold;
    color: black;

    > a {
      color: $primary-hl-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@keyframes orbitBounceAnimation {
  0% {
    transform: translateX(0) scale(1);
  }
  12% {
    transform: translateX(10px) scale(0.95);
  }
  25% {
    transform: translateX(20px) scale(0.9);
  }
  37% {
    transform: translateX(10px) scale(0.85);
  }
  50% {
    transform: translateX(0) scale(0.8);
  }
  62% {
    transform: translateX(-10px) scale(0.85);
  }
  75% {
    transform: translateX(-20px) scale(0.9);
  }
  87% {
    transform: translateX(-10px) scale(0.95);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
