<section class="skills">
  <div class="skills-wrapper">
    <h2>My skills</h2>
    <div class="skills-container">
      <div class="skill-item">
        <img src="../../../assets/icon/angular.png" alt="Angular" />
        <span>Angular</span>
      </div>
      <div class="skill-item">
        <img src="../../../assets/icon/ts.png" alt="TypeScript" />
        <span>TypeScript</span>
      </div>
      <div class="skill-item">
        <img src="../../../assets/icon/js.png" alt="JavaScript" />
        <span>JavaScript</span>
      </div>
      <div class="skill-item">
        <img src="../../../assets/icon/html.png" alt="HTML" />
        <span>HTML</span>
      </div>
      <div class="skill-item">
        <img src="../../../assets/icon/css.png" alt="CSS" />
        <span>CSS</span>
      </div>
      <div class="skill-item">
        <img src="../../../assets/icon/firebase.png" alt="Firebase" />
        <span>Firebase</span>
      </div>
      <div class="skill-item">
        <img src="../../../assets/icon/git.png" alt="Git" />
        <span>Git</span>
      </div>
      <div class="skill-item">
        <img src="../../../assets/icon/scrum.png" alt="Scrum" />
        <span>Scrum</span>
      </div>
      <div class="skill-item">
        <img src="../../../assets/icon/rest-api.png" alt="REST API" />
        <span>REST API</span>
      </div>
      <div class="skill-item">
        <img src="../../../assets/icon/material.png" alt="Material Design" />
        <span>Material Design</span>
      </div>
    </div>
    <div class="skills-footer">
      <img src="../../../assets/icon/learning.png" alt="Learning Icon" />
      <p>
        Don't see the skill you need? <a href="#contact">Contact me</a> I'm
        always ready to learn!
      </p>
    </div>
  </div>
</section>
