<section class="policy">
  <h1>{{ "policy.title" | translate }}</h1>

  <h2>{{ "policy.sections.1.title" | translate }}</h2>
  <h3>{{ "policy.sections.1.general.title" | translate }}</h3>
  <p>{{ "policy.sections.1.general.text" | translate }}</p>

  <h3>{{ "policy.sections.1.data_collection.title" | translate }}</h3>

  <h4>
    {{ "policy.sections.1.data_collection.responsible.title" | translate }}
  </h4>
  <p>{{ "policy.sections.1.data_collection.responsible.text" | translate }}</p>

  <h4>{{ "policy.sections.1.data_collection.how_data.title" | translate }}</h4>
  <p>{{ "policy.sections.1.data_collection.how_data.text1" | translate }}</p>
  <p>{{ "policy.sections.1.data_collection.how_data.text2" | translate }}</p>

  <h4>{{ "policy.sections.1.data_collection.usage.title" | translate }}</h4>
  <p>{{ "policy.sections.1.data_collection.usage.text" | translate }}</p>

  <h4>{{ "policy.sections.1.data_collection.rights.title" | translate }}</h4>
  <p>{{ "policy.sections.1.data_collection.rights.text1" | translate }}</p>
  <p>{{ "policy.sections.1.data_collection.rights.text2" | translate }}</p>
  <p>{{ "policy.sections.1.data_collection.rights.text3" | translate }}</p>
  <p>{{ "policy.sections.1.data_collection.rights.text4" | translate }}</p>
  <p>{{ "policy.sections.1.data_collection.rights.text5" | translate }}</p>

  <h2>{{ "policy.sections.2.title" | translate }}</h2>
  <p>{{ "policy.sections.2.provider.text1" | translate }}</p>
  <h3>{{ "policy.sections.2.provider.name" | translate }}</h3>
  <p>
    {{ "policy.sections.2.provider.text2" | translate }}
    <a
      href="https://all-inkl.com/datenschutzinformationen/"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{ "policy.sections.2.provider.link" | translate }} </a
    >.
  </p>
  <p>{{ "policy.sections.2.provider.text3" | translate }}</p>

  <h2>{{ "policy.sections.3.title" | translate }}</h2>
  <h3>{{ "policy.sections.3.privacy.title" | translate }}</h3>
  <p>{{ "policy.sections.3.privacy.text1" | translate }}</p>
  <p>{{ "policy.sections.3.privacy.text2" | translate }}</p>
  <p>{{ "policy.sections.3.privacy.text3" | translate }}</p>

  <h3>{{ "policy.sections.3.responsible.title" | translate }}</h3>
  <p>{{ "policy.sections.3.responsible.text1" | translate }}</p>
  <p>{{ "policy.sections.3.responsible.address" | translate }}</p>
  <p>{{ "policy.sections.3.responsible.contact" | translate }}</p>
  <p>{{ "policy.sections.3.responsible.text2" | translate }}</p>

  <h3>{{ "policy.sections.3.storage_duration.title" | translate }}</h3>
  <p>{{ "policy.sections.3.storage_duration.text" | translate }}</p>

  <h3>{{ "policy.sections.3.legal_basis.title" | translate }}</h3>
  <p>{{ "policy.sections.3.legal_basis.text" | translate }}</p>

  <h3>{{ "policy.sections.3.recipients.title" | translate }}</h3>
  <p>{{ "policy.sections.3.recipients.text" | translate }}</p>

  <h2>{{ "policy.sections.4.title" | translate }}</h2>
  <h3>{{ "policy.sections.4.contact_form.title" | translate }}</h3>
  <p>{{ "policy.sections.4.contact_form.text1" | translate }}</p>
  <p>{{ "policy.sections.4.contact_form.text2" | translate }}</p>
  <p>{{ "policy.sections.4.contact_form.text3" | translate }}</p>

  <h3>{{ "policy.sections.4.email_phone.title" | translate }}</h3>
  <p>{{ "policy.sections.4.email_phone.text1" | translate }}</p>
  <p>{{ "policy.sections.4.email_phone.text2" | translate }}</p>
  <p>{{ "policy.sections.4.email_phone.text3" | translate }}</p>
</section>
