<section class="project" [class.reverse-layout]="reverseLayout">
  <!-- <div class="project-number">{{projectNumber}}</div> -->
  <div class="project-image">
    <a href="{{ projectLink }}" target="_blank">
      <img src="{{ projectImage }}" alt="" />
    </a>
  </div>
  <div class="project-info">
    <h3>{{ projectTitle }}</h3>
    <p class="tech-stack">
      <span>{{ projectSkills }}</span>
    </p>
    <p class="description">
      <span>{{ projectDescription }}</span>
    </p>
    <a href="{{ projectGithub }}" target="_blank" class="github-button"
      >Github</a
    >
  </div>
</section>
