@import "./styles/mixins.scss";
@import "./styles/variables.scss";
@import "./styles/fonts.scss";

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
  scroll-padding-top: 72px;
}

body {
  background-color: $main-bg-color;
  font-family: "Overpass";
  background-image: url("./assets/icon/dots.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

button {
  cursor: pointer;
  border: unset;
  background-color: unset;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

p {
  font-family: "Overpass";
}

h1,
h2,
h3 {
  font-family: "Syne";
}

h2 {
  font-size: clamp($h2-font-size-small, 10vw, $h2-font-size);
  font-weight: 800;
  transition: color 0.3s ease;

  &:hover {
    color: $primary-hl-color;
  }
}
