/* You can add global styles to this file, and also import other style files */
@import "./styles/mixins.scss";
@import "./styles/variables.scss";

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 16px; // 1rem = 16px
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  background-color: $bgcolor;
  font-family: "Overpass";
  background-image: url("./assets/icon/dots.svg");
  // width: 100%;
  // padding: 0;
}

button {
  cursor: pointer;
  border: unset;
  background-color: unset;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

p {
  font-family: "Overpass";
}
