@import "./../../../styles.scss";

.footer {
  @include dFlex($jc: space-between);
  background-color: black;
  color: $main-bg-color;
  padding: 0 4rem;
  max-width: 1440px;
  margin: 0 auto;
  height: 9rem;
  margin-top: -1px;

  @media (max-width: 1024px) {
    padding: 2rem;
  }

  @media (max-width: 768px) {
    padding: 1rem;
  }

  .footer-left {
    display: flex;
    flex-direction: column;

    .logo {
      > img {
        height: 60px;
        width: 60px;
        cursor: pointer;
      }
    }

    .imprint {
      color: $main-bg-color;
      text-decoration: none;
      font-size: 0.9rem;
      margin-bottom: 2rem;
    }
  }

  .footer-right {
    @include dFlex($fd: column);
    gap: 0.5rem;

    .social-icons {
      display: flex;
      gap: 2rem;

      a {
        text-decoration: none;
        color: $main-bg-color;

        img {
          width: 24px;
          height: 24px;
          transition: transform 0.3s ease;

          &:hover {
            transform: translateY(-1rem);
          }
        }
      }
    }

    .legal-notice {
      font-size: 0.9rem;
      color: $main-bg-color;
      text-decoration: none;
      margin-top: 0.5rem;
      align-self: flex-end;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
