<footer class="footer">
  <div class="footer-left">
    <div class="logo" (click)="scrollToTop()">
      <img src="./../../../assets/icon/nb-logo-black.png" alt="logo-header" />
    </div>
    <a routerLink="/legalnotice" class="imprint">© Normann Blum 2025</a>
  </div>

  <div class="footer-right">
    <div class="social-icons">
      <a href="https://github.com/NormannBlum" target="_blank">
        <img src="./../../../assets/icon/github.svg" alt="GitHub" />
      </a>
      <a href="mailto:kontakt@normann-blum.de">
        <img src="./../../../assets/icon/mail.svg" alt="Email" />
      </a>
      <a href="https://linkedin.com/in/normann-blum-362141357" target="_blank">
        <img src="./../../../assets/icon/linkedin.svg" alt="LinkedIn" />
      </a>
    </div>
    <a routerLink="/legalnotice" class="legal-notice">{{ "footer.legal" | translate }}</a>
  </div>
</footer>
