@import "./../../../styles.scss";

.about-me {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 4rem;

  @media (max-width: $bp-desktop) {
    padding: 2rem;
  }

  @media (max-width: $bp-tablet) {
    padding: 1rem;
  }

  h2 {
    margin-bottom: 1.5rem;

    @media (max-width: $bp-desktop) {
      text-align: center;
    }
  }

  .about-me-content {
    @include dFlex($ai: flex-start, $jc: space-between, $fd: row);
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 2rem;

    @media (max-width: $bp-desktop) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: $bp-tablet) {
      align-items: center;
    }
  }

  .about-me-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 50%;

    @media (max-width: $bp-desktop) {
      max-width: 100%;
    }
  }

  .about-me-details {
    gap: 1rem;

    .detail-item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1rem;

      > img {
        width: 24px;
        height: 24px;
      }

      > span {
        font-size: 1rem;
        text-align: left;
      }
    }
  }

  .about-me-button {
    @include dFlex();
    align-self: center;
    width: fit-content;
    margin-top: 2rem;
    padding: 1rem 3rem;
    font-family: "Overpass";
    font-size: 1rem;
    border: 4px solid #000;
    transition: all 0.3s ease;

    &:hover {
      transform: scaleX(1.1);
      color: #000000;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
    }
  }
  .about-me-image {
    position: relative;
    display: flex;
    justify-content: center;

    > img {
      height: 450px;
      width: 450px;
      display: block;

      @media (max-width: $bp-mobile-sm) {
        height: 280px;
        width: 280px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 4px solid #000;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
      transform: translate(10px, 10px);
      opacity: 0;
      transition: all 0.3s ease;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}
