@import "./../../../styles.scss";

.about-me {
  // position: relative;
//   @include dFlex($fd: column);
//   height: 100vh;
//   padding: 0 2rem;
  // gap: 2rem;
  position: relative;
  @include dFlex($jc: flex-start, $fd: column);
  height: 100vh;
  padding: 0 32px;
}

.about-me-image {
  > img {
    height: 533px;
    width: 533px;
  }
}
