<section class="about-me" id="about-me-section">
  <h2>{{ "about-me.title" | translate }}</h2>

  <div class="about-me-content">
    <div class="about-me-text">
      <p>
        {{ "about-me.info.description" | translate }}
      </p>
      <p>
        {{ "about-me.info.detail" | translate }}
      </p>

      <div class="about-me-details">
        <div class="detail-item">
          <img src="assets/icon/house.png" alt="House icon" />
          <span>{{ "about-me.info.location" | translate }}</span>
        </div>
        <div class="detail-item">
          <img src="assets/icon/laptop.png" alt="Laptop icon" />
          <span>{{ "about-me.info.remote" | translate }}</span>
        </div>
      </div>
      <a
        href="#contact-section"
        (click)="scrollToSection($event, 'contact-section')"
        class="about-me-button"
      >
        {{ "about-me.info.message" | translate }}
      </a>
    </div>

    <div class="about-me-image">
      <img src="../../../assets/img/portrait.jpg" alt="Your profile picture" />
    </div>
  </div>
</section>
