<section class="about-me" id="about-me-section">
  <h2>About me</h2>

  <div class="about-me-content">
    <div class="about-me-text">
      <p>
        I'm a Front-End Developer based in Essen, Germany. I specialize in
        turning designers visions and companies concepts into fully functional
        and polished digital experiences. With a strong blend of creativity and
        logical thinking, I transform ideas into high-quality products that
        deliver real value.
      </p>
      <p>
        If you believe I'd be a great fit for your project, feel free to reach
        out - I'd love to collaborate!
      </p>

      <div class="about-me-details">
        <div class="detail-item">
          <img src="assets/icon/house.png" alt="House icon" />
          <span>Based in Essen</span>
        </div>
        <div class="detail-item">
          <img src="assets/icon/laptop.png" alt="Laptop icon" />
          <span>Open to work Remote</span>
        </div>
      </div>
      <a href="#contact-section" (click)="scrollToSection($event, 'contact-section')" class="about-me-button">
        Let's Talk
      </a>
    </div>

    <div class="about-me-image">
      <img src="../../../assets/img/portrait.jpg" alt="Your profile picture" />
    </div>
  </div>
</section>
