<section class="about-me">
  <div class="about-me-content">
    <div class="about-me-text">
      <h2>About me</h2>
      <p>
        I am a Front-end developer from Essen, Germany. I help designers and
        companies to bring their ideas to real life. Creativity and logical
        thinking are skills that I have developed to connect ideas into quality
        products.
      </p>
      <p>
        If you think I'd be a good match for your projects, contact me!
      </p>
    </div>
    <div class="about-me-details">
        <div class="detail-item">
          <img src="assets/icon/house.png" alt="House icon" />
          <span>Based in Essen</span>
        </div>
        <div class="detail-item">
          <img src="assets/icon/laptop.png" alt="Laptop icon" />
          <span>Open to work Remote</span>
        </div>
      </div>
      <button class="about-me-button">Let's talk</button>
    <div class="about-me-image">
        <img src="../../../assets/img/portrait.jpg" alt="Your profile picture" />
    </div>
  </div>
</section>
