<section class="portfolio">
  <h2>Portfolio</h2>
  <div class="portfolio-content">
    <p>
      Explore a selection of my work here - Interact with <br />
      projects to seemy skills in action.
    </p>
    <div>
      <app-single-projects
        [projectNumber]="'01/03'"
        [projectTitle]="'El Pollo Loco'"
        [projectSkills]="'JavaScript | HTML | CSS'"
        [projectDescription]="polloloco"
        [projectImage]="'./assets/img/epl-screen.png'"
        [projectGithub]="'https://github.com/NormannBlum/ElPolloLoco'"
        [projectLink]="'https://elpolloloco.normann-blum.de/'"
      ></app-single-projects>

      <app-single-projects
        [projectNumber]="'02/03'"
        [projectTitle]="'Join'"
        [projectSkills]="'Angular | TypeScript | HTML | CSS | Firebase'"
        [projectDescription]="join"
        [projectImage]="'./assets/img/join-preview.jpg'"
        [projectGithub]="'https://github.com/NormannBlum/Join'"
        [projectLink]="'https://join.normann-blum.de/'"
        [reverseLayout]="true"
      ></app-single-projects>

      <app-single-projects
        [projectNumber]="'03/03'"
        [projectTitle]="'Pokédex'"
        [projectSkills]="'JavaScript | HTML | CSS | Api'"
        [projectDescription]="pokedex"
        [projectImage]="'./assets/img/pokedex-preview.png'"
        [projectGithub]="'https://github.com/NormannBlum/Pokedex'"
        [projectLink]="'https://pokedex.normann-blum.de/'"
      ></app-single-projects>
    </div>
  </div>
</section>
