@import "./../../../styles.scss";

.portfolio {
  @include dFlex($ai: center, $jc: flex-start, $fd: column);
  position: relative;
  min-height: 100vh;
  padding: 0 4rem;
  max-width: 1440px;
  margin: 0 auto;

  > h2 {
    margin-bottom: 3rem;
  }
}

.portfolio-content {
  > p {
    margin-bottom: 3rem;
    text-align: center;
  }
}